/* Write your global styles here, in PostCSS syntax */
@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
	/* Duplicate the color code because I can't get the one defined in tailwind.config.cjs */
	background-color: #f0f1f3;
}
